models archive
YuNet faces 1
YuNet faces 2
1st.jpeg
1st_rslt.png
2nd.jpeg
3rd.jpeg
dancers.mp4
Guides.txt
largest selfie - 1(YuNet).jpg
largest selfie - 2(YuNet).jpg
new 10.txt
selfie rslt.jpg
YuNet Face detector.py
